.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background-image: url(../img/fondo.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
   
}
@media (min-width: 280px) {
    .mobile-menu {
        /* width: 3rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
    }

    .mobile-menu img {
        width: 33.3%;
    }

    .navegacion {
        display: flex;
        flex-direction: column;
    }

    .navegacion a {
        display: block;
    }

    .navegacion img {
        /* width: 14%; */
        /* flex-direction: column;
        align-items: center;
        display: inline-block; */
    }

    .social_media {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social_media img {
        flex-direction: row;
    }

    .abajo-trailers {
        display: flex;
        flex: content;
    }

    .set_up_your_carriers {
        background-image: url(../img/set_up_your_carriers.png);
        background-position: center center;
        background-size: cover;
        height: 40%;
        min-height: 13rem;
    }

    .contenedor-footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 2%;

    }

    .info p {
        padding: 2%;
        color: #ffffff;
        font-weight: 700;
        line-height: .5;
    }

    .iconos_footer img {
        width: 10%;
        display: inline-block;
        align-items: center;
    }

    .opinion {
        background-image: url(../img/your_opinion_update_cut.png);
        background-position: center center;
        background-size: cover;
        min-height: 61rem;
        width: 100%;
        display: flex;
    }

    .position_form {
        display: flex;
        align-self: flex-end;
        width: 100%;
    }

    /* Este es para controlar el formulario */
    .container.contact_form {
        margin-bottom: 2%;
    }

    .contact_form input {
        width: 100%;
    }

    .contact_form input{
        line-height: 1;
    }
    

}


@media (min-width: 768px) {

    .mobile-menu {
        display: none;
    }

    .navegacion img{
        width: 100%;
    }

    .abajo-trailers {
        width: 60rem;
        height: -100rem;
        display: block;
    }

    .abajo-texto {
        /* margin-left: auto; */
        text-align: center;
        /* padding-left: 2rem; */
        width: 120rem;
        color: #ffffff;
        font-weight: bold;
        align-items: center;
    }

    .set_up_your_carriers {
        background-image: url(../img/set_up_your_carriers.png);
        background-position: center center;
        background-size: cover;
        height: 40%;
        min-height: 40rem;
    }

    .contact_form{
        display: flex;
        flex-direction: column;

        
    }
    .contact_form h2{
        text-align: left;
    }
    .contact_form div {
        display: block;
    }
    .contact_form button {
        text-align: left;
    }

    .opinion{
        background-image: url(../img/your_opinion_update_cut.png);
        background-position: center center;
        background-size: cover; 
        min-height: 125rem; 
        display: flex;
        /* width: 100%; */
    }
    
    .position_form{
        display: flex;
        align-self: flex-end;
        width: 100%;
    }

    /* Este es para controlar el formulario */
    .container.contact_form {
        margin-bottom: 2%;
    }
    .contact_form input{
        width: 100%;
        line-height: 3;
    }

    .boton-naranja{
        font-size: 15px;
        font-weight: bold;
    }

}


.brands {
    background-image: url(../img/marcas.png);
    background-position: center center;
    background-size: cover;
    /* height: 40%; */
    /* max-width: 100rem; */
    min-height: 27rem;
}




.footer{
    background-image: url(../img/footer_fondo.png);
    background-position: center center;
    background-size: cover; 
    min-height: 20rem; 
    width: 100%;
}
/* .footer div{display: flex;} */

@media (min-width: 768px) {
    .footer {
        display: flex;
        /* justify-content: space-between; */
    }
    .footer div{
        align-items: center;
    }
    .logos_footer {
        /* width: 30%; */
        flex-basis: 33.3%;
        align-items: center;
    }
    .iconos_footer{
        flex-basis: 33.3%;    
        text-align: center;

    }
    .iconos_footer img{
        width: 15%;
        display: inline-block;
    }
    .contenedor-footer {
        padding: 3rem 0;
        display: flex;
        flex-direction: row;  
    }

    .info {flex-basis: 33.3%; text-align: center;}
    /* .info {flex-basis: 33.3%;} */

.info p{
    color:#ffffff;
    font-weight: 700;
    line-height: .5; 
}

}

.iconos_footer img{
    /* width: 3rem;
    height: 5rem; */
    flex-basis: 33.3%;
    align-items: center;
}
.logos_footer img{
    /* width: 30%; */
    /* display: inline-block; */
    flex-basis: 33.3%;
    align-items: center;
}

.site-footer {
    background-color: #333333;
    margin: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 50%;
  height: 35%;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}



.abajo-texto p {
    color: #ffffff;
}

.barra {
    padding-top: 1rem;
    /* padding-right: 2rem; */
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .barra2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .barra2 img {
        /* width: 100rem; */
        flex: content;
    }
   
}

.barra .logo {
    width: 50rem;
}

.barra .icono {
    width: 5rem;
}

.barra2 {
    padding-bottom: 0rem;
    padding-right: 2rem;
}

/* @media (min-width: 1024px) {
    .barra2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .barra2 img {
        width: 100%;
    }
    .opinion{
        background-image: url(../img/your_opinion_important.png);
        background-position: center center;
        background-size: cover; 
        min-height: 87rem; 
        width: 100%;
    }
    .abajo-trailers {
        width: 60rem;
      
        display: flex;
    }
} */

/* @media (min-width: 280px) {
    .barra2 {
       display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    }
    .abajo-trailers img {
        width: 100%  !important;
    }
} */

/* .barra2 img {
    width: 90rem;
} */

.navegacion a {
    color: #ffffff
        /*#ffffff*/
    ;
    text-decoration: none;
    font-size: 1.8rem !important;
    display: block;
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem;
        /** = 18px **/
        margin-right: 2rem;
    }

    .navegacion a:last-of-type {
        margin: 0;
    }
    
        .navegacion {
            display: block;
        }
    
}

.navegacion a:hover {
    color: #71B100;
}

.navegacion:target {
    display: block;
}

.titulo h1 {
    color: #ffffff;
}

.titulo a {
    color: #ffffff;
}

.seccion {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.fw-800 {
    font-weight: 800;
}
.centrar-texto {
    text-align: center;
}

.naranja{
    color: #ed4624;
}

.boton-naranja{
    display: block;
    background: #ed4624;
    width:150px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    transition: padding 0.5s ease;
    position: relative;left: 30%;
    text-decoration: none;
}

.boton-naranja:hover{
    padding: 20px;
}

